/* Here are example using css */

.from-css {
  color: #74fac8;
}

.img {
  width: 100%;
  max-width: 50rem;
}

/* Set the size of the div element that contains the map */
#basic-map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

#cluster-map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

#json-map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

#open-modal-button {
  padding: 30px;
  background: teal;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
}

.modal {
  position: fixed;
  width: 55vw;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 4vh;
  left: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.modal-bg {
  position: absolute;
  background: teal;
  width: 100%;
  height: 100%;
}
.modal-container {
  border-radius: 10px;
  background: #fff;
  position: relative;
  padding: 30px;
}
.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  /* outline: none; */
  appearance: none;
  color: red;
  background: none;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}
